<div>
  <form #form="ngForm">
    <div class="row">
      <div class="form-group col">
        <label class="conrol-label">Coupon Type</label>
        <select
          #primaryLanguage="ngModel"
          class="custom-select"
          name="primaryLanguage"
          [ngModel]="couponType"
          (ngModelChange)="getCouponByType($event)"
        >
          <option *ngFor="let type of couponTypes"> {{ type }} </option>
        </select>
      </div>

      <div class="form-group col">
          <label for="price">Coupon Price</label>
          <input class="form-control noSpinner" required type="number"
           name="price" [ngModel]="price" (ngModelChange)="getCouponsUpToPrice($event)" placeholder="0"/>
        </div>

        <div class="form-group col">
            <div>
                <label>Coupon Experation Date </label> <br />
                <input
                  class="form-control"
                  placeholder="Experation Date"
                  [minDate]="today"
                  name="endDate"
                  [ngModel]="endDate" (ngModelChange)="getCouponsUpToEndDate($event)"
                  ngbDatepicker
                  #ds="ngbDatepicker"
                />
                <div class="input-group col">
                  <button
                    class="btn btn-outline-secondary calendar"
                    (click)="ds.toggle()"
                    type="button"
                  ></button>
                </div>
              </div>
        </div>
    </div>
  </form>
</div>
{{ form.value | json}}
<div *ngIf="coupons">
  <h2>All Coupons</h2>
  <div>
    <app-coupon-table
      [coupons]="coupons"
      [pageSource]="'coupon'"
    ></app-coupon-table>
  </div>
</div>
