<div *ngIf="coupon" class="container">
  <form #createCouponForm="ngForm" (ngSubmit)="updateCoupon()">
    <div class="form-group">
      <label for="title">Coupon Title</label>
      <input
        class="form-control"
        id="couponTitle"
        #title="ngModel"
        required
        minlength="3"
        maxlength="45"
        pattern="[a-zA-Z0-9][a-zA-Z0-9 -\.]*"
        type="text"
        name="title"
        [(ngModel)]="coupon.couponTitle"
        placeholder="Coupon Title..."
      />
      <div
        *ngIf="title.invalid && (title.dirty || title.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="title.errors.required">Title is required.</div>
        <div *ngIf="title.errors.minlength">
          Title must be at least 3 characters long.
        </div>
        <div *ngIf="title.errors.pattern">Invalid character.</div>
      </div>
    </div>

    <div class="input-group">
      <label>Coupon Start Date </label> <br />
      <input
        class="form-control"
        placeholder="yyyy-mm-dd"
        name="startDate"
        [(ngModel)]="startDate"
        ngbDatepicker
        #ds="ngbDatepicker"
        required
        [minDate]="today"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary calendar"
          (click)="ds.toggle()"
          type="button"
        ></button>
      </div>
    </div>
    <br />
    <div class="input-group">
      <label>Coupon Expertaion Date </label> <br />
      <input
        class="form-control"
        placeholder="yyyy-mm-dd"
        [minDate]="startDate"
        name="endDate"
        [(ngModel)]="endDate"
        ngbDatepicker
        #de="ngbDatepicker"
        required
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary calendar"
          (click)="de.toggle()"
          type="button"
        ></button>
      </div>
    </div>

    <div class="form-group">
      <label for="amount">Coupon Amount</label>
      <input
        class="form-control"
        id="couponAmount"
        #amount="ngModel"
        required
        type="number"
        name="amount"
        [(ngModel)]="coupon.couponAmount"
        placeholder="0"
      />
      <div
        *ngIf="amount.invalid && (amount.dirty || amount.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="amount.errors.required">Please insert coupon amount.</div>
      </div>
    </div>

    <div class="form-group">
      <label class="conrol-label">Coupon Type</label>
      <select
        #primaryLanguage="ngModel"
        class="custom-select"
        name="primaryLanguage"
        (blur)="!validateCouonType($event)"
        required
        [(ngModel)]="coupon.couponType"
      >
        <option value="">Select a Coupon Type</option>
        <option *ngFor="let type of couponTypes"> {{ type }} </option>
      </select>
    </div>

    <div class="form-group">
      <label for="title">Coupon Description</label>
      <input
        class="form-control"
        id="couponMessage"
        #message="ngModel"
        required
        minlength="50"
        type="text"
        name="message"
        [(ngModel)]="coupon.couponMessage"
        placeholder="Coupon Description..."
      />
      <div
        *ngIf="message.invalid && (message.dirty || message.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="message.errors.required">Please insert coupon message.</div>
        <div *ngIf="message.errors.minlength">
          Please use at least 50 characters for couopn description.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="price">Coupon Price</label>
      <input
        class="form-control"
        id="couponPrice"
        #price="ngModel"
        required
        type="number"
        name="price"
        [(ngModel)]="coupon.couponPrice"
        placeholder="0"
      />
      <div
        *ngIf="price.invalid && (price.dirty || price.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="price.errors.required">Please insert coupon price.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="couponImage">Coupon Image</label>
      <input type="file" class="form-control-file" id="couponImage" />
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="createCouponForm.form.invalid"
    >
      Update
    </button>
  </form>
</div>
