<div *ngIf="company" class="card">
  <div class="card-header">
    <h2>{{ company.companyName }}</h2>
  </div>
  <div class="card-body">Email: {{ company.companyEmail }}</div>
  <div>
    <button type="button" class="btn btn-dark" *ngIf="isAdmin()" routerLink="/companies/update/{{companyId}}">Update Company</button>
  </div>
  <div *ngIf="coupons">
    <h3>Active coupons of {{ company.companyName }}</h3>
    <div *ngIf="coupons">
      <app-coupon-table [coupons]="coupons" [pageSource]="'company'" [pageID]="companyId"></app-coupon-table>
    </div>
  </div>
  <div *ngIf="!coupons">
    <h3>{{ company.companyName }} has no active coupons.</h3>
  </div>
</div>
