<div *ngIf="!isLogedin()">
  <br>
  <p>Welcome!</p>

  <p>For new user, please register</p>

  <button type="button" class="btn btn-primary"  routerLink="/register">Register</button>
<br><br>
  <p>For an existing account</p>
<button type="button" class="btn btn-secondary"  routerLink="/login">Log In</button>
</div>

<div *ngIf="isLogedin()">
  <br>
  Welcome User!
  <br><br>
  <button type="button" class="btn btn-primary"  routerLink="/profile" *ngIf="!isAdmin()">Profile</button>
  <br>
  <button type="button" class="btn btn-primary" (click)="logOut()">Log out</button>
</div>


